<h1>Products#Index</h1>

<%= form_for @product do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<% @products.each do |product| %>
  <div>
    <%= product.title %>
  </div>
  <div>
    <%= product.description %>
  </div>
<% end %>
